{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "import",
  ],
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // Not writing for the browser
    "browser": false,
    // in CommonJS
    "node": true,
    "mocha": true
  },
  // To give you an idea how to override rule options:
  "extends": "airbnb",
  "rules": {
    "brace-style": 0,
    "complexity": 0,
    "space-before-blocks": 0,
    "keyword-spacing": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "new-cap": 0,
    "prefer-template": 0,
    "eqeqeq": 0,
    "arrow-body-style": 0,
    "no-else-return": 0,
    "func-names": 0,
    "global-require": 0,
    "no-confusing-arrow": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0,
    "max-len": 0,
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-unused-vars": 1,
    "strict": 1,
    "no-debugger": 1,
    "no-unreachable": 2,
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "react/display-name": 1,
    "react/forbid-prop-types": 0,
    "quote-props": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-handler-names": 1,
    "react/jsx-indent-props": [1,2],
    "react/jsx-indent": [1,2],
    "no-unneeded-ternary": 0,
    "no-unused-expressions": 0,
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": [0],
    "react/jsx-no-bind": [0],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": [0],
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "jsx-quotes": 1,
    "react/jsx-sort-prop-types": [0],
    "react/jsx-sort-props": [0],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-deprecated": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-is-mounted": 1,
    "react/no-multi-comp": 1,
    "react/no-set-state": [0],
    "react/no-string-refs": [0],
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 0,
    "react/wrap-multilines": 1,
    "import/no-unresolved": 2,
    "import/no-duplicates":1,
    "import/imports-first":1,
    "import/export": 1,
    "react/jsx-first-prop-new-line": 0,
    "consistent-return": 0,
    "array-callback-return": 0,
    "no-case-declarations": 0,
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "expect": true,
    "mockReactComponents": true,
    "mock": true,
    "clearRequire": true
    }
}
